li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header{
    .navbar{
        padding-block: 18px;

        .navbar_logo{
            .navbar-brand{
                font-size: 35px;
            }
        }

        .navbar-nav{
            align-items: center;

            & li{
                margin-inline: 2rem;
                & a{
                    color: #000;
                }

                .bottom_line{
                    background: #4BA87D;
                    height: 5px;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .nav-item{
            display: none;
        }
    }
}

main{
    background-image: url("../images/BGstuff.png");
    background-repeat: no-repeat;
    background-size: 100% auto ;

    .cover_se{
        padding-block: 100px;
        .cover{
            width: 75%;
            position: relative;
            .cover_text{
                margin-top: 22px;
                width: 45%;
                z-index: 2;
                & h1{
                    font-size: 59px;
                    line-height: 71px;

                    & br{
                        display: none;
                    }
                }

                .cover_btn{
                    justify-content: space-around;
                    & button{
                        padding: 15px 50px;
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                }
            }
            & img{
                width: 65%;
                align-items: center;
                position: absolute;
                right: 0;
            }
        }

        @media screen and (max-width:768px) {
            padding-bottom:0;

            .cover{
                .cover_text{
                    margin-top:-70px;
                    width: 100%;
                    & h1{
                        & br{
                            display: block;
                        }
                    }
                    
                    .blank{
                        height: 150px;
                    }
                }

                & img{
                    width: 100%;
                }
            }
        }
    }

    .video_se{
        padding-top: 300px;
        padding-bottom: 100px;
        .video{
            width: 75%;
            margin: auto;
            .card-img-overlay{
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & h1{
                    color: #fff;
                    margin-bottom: 3rem;
                }
    
                & button{
                    font-size: 1.25rem;
                    padding: 15px 25px;
                }
            }
        }

        @media screen and (max-width:768px) {
            padding-block: 50px;

            .video{
                width: 100%;
            }
        }
    }

    .describe_se{
        margin-bottom: 100px;
        .ds{
            min-height: 550px;
            justify-content: center;
            margin-inline:3rem;
            > div{
                flex: 0 0 33.33%;
                margin-inline: 2rem;
            }

            .card{
                .card-body{
                    padding: 30px;
                }

                .card-link{
                    color:#4BA87D;
                }
            }

            .ds_text{
                & h2{
                    font-size: 2.4rem;
                }

                & p{
                    font-size: 1rem;
                }
            }
        }

        @media screen and (max-width:768px) {
            .ds{
                flex-direction: column;
                margin: 0;
                > div{
                    margin: 0;
                    margin-block: 50px;
                    width: 70%;
                }
            }
        }
    }

    .member_se{
        .member{
            margin-inline: 100px;
            .member_card{
                flex: 0 0 33.33%;
                position: relative;
                .card-img-overlay{
                    position: absolute;
                    left: 5%;
                    top:75%;

                    .card-title{
                        font-weight: bold;
                    }
                }
            }
        }
        .member_ds{
            margin-top: 2rem;
            text-align: center;
            & h2{
                margin-block: 2rem;
                font-size: 2.5rem;
            }
    
            .email_input{
                & input{

                    height: 60px;
                    width: 100%;
                }

                .form-text{
                    color: #4BA87D;
                }

                & button{
                    font-weight: bold;
                    font-size: 1.25rem;
                    padding: 15px 25px;
                }
            }
    
             & a{
                text-align: left;
             }
        }

        @media screen and (max-width:768px) {
            .member{
                flex-direction: column;
                .member_card{
                    margin-block: 50px;
                    width: 100%;
                    .card-img-overlay{
                        top:70%;
                    }
                }
            }
        }
    }

    .brand_se{
        margin-bottom: 150px;
        .brand{
            & h1{
                margin-block: 3rem;
            }

            & li{
                margin-inline: 2rem;
            }
        }

        @media screen and (max-width:768px) {
            .brand{
                & ul{
                    flex-wrap: wrap;

                    & li{
                        flex: 0 0 calc(50% - 4rem);
                        margin-block: 2rem;
                    }
                }
            }
        }
    }

    .started{
        color: white;
        padding: 80px 0;
        background: green;
        text-align: center;

        & h1{
            font-size: 60px;
        }

        & button{
            font-size: 1.25rem;
            font-weight: bold;
            padding: 25px 25px;
            margin: 20px 0;
        }
    }
}

footer{
    .bottom_content{
        padding-top: 3rem;
        font-weight: bold;
        margin: auto;
        width: 90%;
        align-items: flex-start;
        justify-content: space-between;
        .footer_logo{
            align-items: center;
            & img{
                width: 100%;
            }
            & h5{
                font-weight: bold;
            }
        }

        .bottom_link{
            & ul{
                padding-inline: 2.25rem;
            }

            & a{
                color: #000;
                font-size: 1.25rem;
            }
        }
    }

    .copy_right{
        justify-content: space-evenly;
        font-weight: bold;
        & a{
            color: #000;
        }
    }

    @media  screen and (max-width:768px) {
        .bottom_content{
            flex-direction: column;
            .bottom_link{
                width: 100%;
                flex-direction: column;
                flex-wrap: wrap;
                height: 400px;
                & ul{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    
        .copy_right{
            flex-direction: column;
            > *{
                margin-bottom: 50px;
            }
        }
    }
}